body{
  margin:0;
  padding:0;
  background-color: #f5f6f6;
  max-width:1440px;
  margin:auto;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.first-part{
  height: 70vh;
  background-image: url('https://wallpaperaccess.com/full/309051.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*NAVIGATION BAR*/
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width:100%;
  background-color: #FFFFFF;
  box-shadow: 2px, 2px, 12px, black;
  padding: 0px, 5%;
}

nav ul{
  display: flex;
  padding-right: 20px;
}

nav ul li a{
  margin: 30px;
  font-family: 'Roboto', sans-serif;
  color:#505050;
  font-weight: 700;
  font-size: 16px;
}

nav ul li a:hover {
  color: black;
}

#logo
{
  margin-left: 40px;
  font-family: 'Train One', cursive;
  font-size:48px;
}

/*Entry*/
.text-container p:nth-child(1){
  font-family: 'Roboto', sans-serif;
  color: #6d6d6d;
  font-size: 24px;
}

.text-container p:nth-child(2){
  font-family: 'Vollkorn', serif;
  color: #1a1a1a;
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: 4px;
}

.text-container p:nth-child(3){
  color: #403e3e;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

.text-container p{
  line-height: 0px;
}


.hire-btn{
  color: #373636;
  box-shadow: 5px 5px 8px #505050;
}

.down-btn{
  background-color: #161414;
  box-shadow: 5px 5px 8px #505050;
  color: #FFFFFF;
}

button:active {
  transform: scale(1.1);  
}

button:hover{
  box-shadow: 2px 2px 8px #505050;
  transition: 0.2s;
}

.text-container button {
  font-family: 'Roboto', sans-serif;
  height: 42px;
  width: 130px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  outline:none;
  margin: 0px 10px;
  border:none;
  cursor: pointer;
}

/*Header*/
.flex-box{
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:20px;
  margin:auto;
}
.model {
  height:300px;
  border-radius: 50%;
  z-index: 999;
}
.text-container{
  min-width:300px;
  display:inline-block;
}

.about-container{
  display:block;
  width:800px;
  height: 180px;
  border-radius: 20px;
  box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  padding:40px;
  margin:auto;
  background-color: white;
}

.about-text p:nth-child(1){
  color:#403e3e;
  font-size: 23px;
  line-height: 0px;
}

.about-text p:nth-child(2){
  color:#3d3e3e;
  font-size: 13px;
  line-height: 5px;
  }

.about-text p:nth-child(3){
  color:#7d7e7e;
  font-size: 16px;
  }

/*SOCIALICONS*/
.social-icons{
  display:flex;
  align-items: center;
  justify-content:space-around;

}

.social-icons a{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin:0px;
  line-height:0px;
  background-color: #FFFFFF;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.social-icons i{
  color:#2b2b2b;
  font-size: 30px;
}

.social-icons a:hover{
  background-color: #000000;
  transition: all ease 0.3s;
}
.social-icons i:hover{
  color: #FFFFFF;
  transition: all ease 0.1s;
}

/*Table- PORTFOLIO*/
main{
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  display:flex;
}

.left-column {
  margin-left: 60px;
  width: 65%;
}
.right-column {
  margin-right: 60px;
  width: 35%;
  padding-left: 20px ;
}
.card {
  margin: 20px;
  padding: 20px;
  min-width:400px;
  background-color: white;
  border-radius: 4px;
  border: solid 1px #364652;
}
.row:after {
  content:'';
  display: table;
  clear: both;
}
/*PROJECTS*/
#projects {
  padding:20px;
  text-align:center;
}
#projects h2 {
  font-size: 24px;
  color: black;
}
.project-link {
  display:inline-block;
  max-width:200px;
  background-color:#cacbcc;
  text-decoration:none;
  color:black;
  margin:12px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.7), 5px 6px 6px rgba(0,0,0,0.7);
}
.project-img{
  width:100%;
  display:block;
}
.project-title{
  margin-top:20px;
  margin-bottom:20px;
}
.project-link:hover{
  box-shadow: 5px 20px 40px rgba(0,0,0,0.7), 5px 10px 10px rgba(0,0,0,0.7);
}

h3 span{
  font-size: 12px;
  font-weight: lighter;
}
.card h3 {
  color: #403e3e;
}
.card h2 {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.fa-fa {
  margin:10px;
  min-width: 100px;
  justify-content: space-around;
  text-align: center;
}

.fa-fa i {
  font-size:36px;
  color: rgb(143, 82, 82);

}

.fa-fa p {
  font-weight: bold;
  color: rgb(0, 0, 0);
}
footer {
  background-color: #b9b8c7;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: lighter;
  
}
