* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Ubuntu', sans-serif;;
  src: url(./fonts/Ubuntu-Light.ttf);
}

body {
  background-color: #E4EAF1;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

main {
  max-width: 1440px;
  margin: auto;
}
section {
  margin: 10px;
  /* below is useful for the container to expand and contain floating elements if there are the only ones in the it */
  /* overflow: hidden; */
  clear: both;
}

h1 {
  font-size: 3rem;
  padding-left: 48px;
  padding-top: 48px;
  color: #B80C09;
  background-color: #9CC1E7;
  border-bottom: 4px solid #235789;
}
h2 {
  text-align: center;
  color: #EFF5FB;
  background-color: #B80C09;
  margin: 16px 0px 12px 0px;
}

/*_____Cards Start______*/
h3 {
  text-align: center;
  color: #EFF5FB;
  background-color: #0C1E31;
  margin-bottom: 12px;
  line-height: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li {
  margin: .5%;
  width: 24%;
  height: 600px;
  background-color: #FFF;
  list-style: none;
  /*below 2 lines are for stretching the pharagraph box*/
  display: flex;
  flex-direction: column;
}
.grid-item:nth-child(1) {
  width: 49%;
}
li.grid-item img {
  width: 80%;
  margin: 0 10%;
}
p {
  padding: 20px;
  background-color: #EFF5FB;
  line-height: 1.5;
  flex: auto;
}
p::first-letter {
  color: #B80C09;
  padding: 3px;
  margin: 0 3px 0 0;
  border: 2px solid;
  border-radius: 8px;
  font-family: monospace;
  font-size: 2.4rem;
  float: left;
  line-height: 1;
}
/*Since Arabic is read from left to right, First letter is floated to the right with the below line*/
.grid-item:nth-child(2) p::first-letter {
float: right;
}

p::selection {
  background-color: #FDC5C4;
}
li.grid-item:hover {
  box-shadow: 2px 2px 4px 2px #06121f;
}
h3:hover {
  cursor: pointer;
  box-shadow:-1px -2px 2px 2px #a84442 inset;
  background-color: #8a0a08;
  transform: translateY(-2px);
}
/*_____Cards End______*/



/*_______Float Controls________*/
.grid-floats .grid-item {
  float: left;
}

/*_______Flexbox Controls________*/
.grid-flex {
  display: flex;
  flex-wrap: wrap;
}

/* .grid-flex {
  margin-left: 10px; // (space on the left of the parent)
}

.grid-flex .grid-item:first-child {
     flex-basis: calc(50% - 10px); 
}
.grid-flex .grid-item {
   flex-basis: calc(25% - 10px); 
    margin: 0 10px 10px 0; (top - right - bottom - left)
} */
/*___Media Queries___*/

@media screen and (max-width:768px) {
  .grid-item:nth-child(1), .grid-item:nth-child(2) {
    width: 49%;
  }
  .grid-item {
    width: 32.33%;
  }
}

@media screen and (max-width:425px) {
  .grid-item:nth-child(1), .grid-item:nth-child(2),.grid-item {
    width: 90%;
    margin: 5%;
  }
} 
