@font-face {
font-family: 'Uber Move Medium';
font-style: normal;
font-weight: normal;
src: local('Uber Move Medium'), url('UberMoveMedium.woff') format('woff');
}
@font-face {
font-family: 'Uber Move Bold';
font-style: normal;
font-weight: normal;
src: local('Uber Move Bold'), url('UberMoveBold.woff') format('woff');
}
body {
    font-family: 'Uber Move Medium';
    font-size: 18px;
}
header {
    background: url(media/uber3.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 732px;
}

/* SignUp Container */
header .container{
    width:540px;
    margin-top: 72px;
    margin-left: 10%;
}
.btn, .tabs a {
    text-transform: none;
}
.tabs, .tabs a, .flex_container span  {
    font-size: 14px ;
    font-weight: 300;
    height: 80px !important;
}
.tabs .indicator {
    background-color:black;
    height:3px;
}
.tabs .tab a:focus.active {
    background-color: transparent;
    outline: none;
}
.col, .col.s10 p, .col.s10 a  {
    margin-top: 20px;
}
.col.s10 p {
    font-family: 'Roboto', sans-serif;
    margin: 30px 0 30px 0;
}
.col.s10 a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: block;
    margin: 30px 0 30px 0;
}
.material-icons {
    display: block;
}
.signup .inputs {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* SignUp Container */


.parallax-container h4, .parallax-container p{
    text-shadow: 1px 1px rgb(243, 243, 243) !important;
}
.newClass{
    height: 320px;
}
/* .parallax-container {
    color: rgb(187, 20, 20);
} */


/* Flex-box */
.flex_container, .mid-three{
    display: flex;
    flex-wrap: wrap;  
}
.top-two, .mid-three, .flex_container h3 {
    display: flex;
    justify-content: space-between;
    width: 80% ;
    margin: 30px auto;
}
.right-box, .left-box {
    flex-basis: 47%;
}
.left-links a, .cards a {
    margin-right: 10px;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}
.cards {
    flex-basis: 30%;
    padding: 10px;
}
.apps {
    background-color: rgb(242, 252, 255);
}
.apps, .sign-ups {
    flex-basis: 100%;
    margin: 30px auto;
}
.app-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app-box .card {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-basis: 37.6%;
    padding:20px;
    margin-right:30px;
}
.app-box .card img {
    width:20%;
}
.app-box .card i:hover {
    transform: translate(5px);
    cursor: pointer;
}
/* Flex-box */



/* Footer */
footer div {
    margin:40px
}
footer li{
    line-height: 2;
}
.lists, .social-media, .copyrights{
    display:flex;
    flex-wrap: wrap;
}
.social-media, .copyrights {
    justify-content: space-between;
}
.lists .list {
    flex-basis: 18%;
}
.icons {
    display:flex;
    flex-direction: row;
    flex-basis: 40%;
    justify-content: space-between;
}
.lists2 {
    display:flex;
    flex-direction: row;
    flex-basis: 20%;
    justify-content: space-between;
}
.lists2 img {
    width: 50%;
}
.icons a {
    display: flex;
    flex-direction: row;
}
.item nav {
    display: flex;
    align-items: center;
    background-color: transparent;
}
.item nav li {
    margin: 10px;
}

/* Footer */
@media screen and (min-width:426px) and (max-width:768px) {
    header .container{
        width: 100%;
        margin: 0;
    }
    .mid-three .cards{
        flex-basis: 40%;
    }
    .app-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:20px;
    }
    .app-box .card {
        flex-basis: 100%;
    }
    footer div {
        margin:10px
    }
    .lists .list, .lists2  {
        flex-basis: 40%;
    }
    .icons a {
        margin-right: 10px;
    }
}
@media screen and (max-width:425px) {
    header .container{
        width: 100%;
        margin: 0;
    }
    
    .top-two, .mid-three{
        flex-wrap: wrap;
        width: 100% ;
        margin:0;
    }
    .right-box, .left-box, .cards{
        flex-basis: 100%;
        padding:10px;
        background-color:rgb(247, 244, 244);
        margin:10px auto;
    }
    .app-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .app-box .card {
        flex-basis: 100%;
    }
  
    .app-box .card img {
        width:30%;
    }
    .app-box .card h5{
        margin-left: 10px;
    }
    footer div {
        margin:10px
    }
    footer li{
        line-height: 1.5;
    }
    .lists .list {
        flex-basis: 100%;
    }
    .lists2 {
        flex-basis: 40%;
    }
    .lists2 img {
        width: 60%;
    }
    .icons a {
        margin-right: 10px;
    }
    
}
